In [35]:
lista = ["0","1"]
contador = 1
while contador < 1000:
    lista.append(lista[contador]+"0")
    lista.append(lista[contador]+"1")
    contador += 1

# for i in list(enumerate(lista)):
#     print (i)

import pandas as pd
df = pd.DataFrame(lista)
# df.loc[500]
df

                0
0               0
1               1
2              10
3              11
4             100
5             101
6             110
7             111
8            1000
9            1001
10           1010
11           1011
12           1100
13           1101
14           1110
15           1111
16          10000
17          10001
18          10010
19          10011
20          10100
21          10101
22          10110
23          10111
24          11000
25          11001
26          11010
27          11011
28          11100
29          11101
...           ...
1970  11110110010
1971  11110110011
1972  11110110100
1973  11110110101
1974  11110110110
1975  11110110111
1976  11110111000
1977  11110111001
1978  11110111010
1979  11110111011
1980  11110111100
1981  11110111101
1982  11110111110
1983  11110111111
1984  11111000000
1985  11111000001
1986  11111000010
1987  11111000011
1988  11111000100
1989  11111000101
1990  11111000110
1991  11111000111
1992  11111001000
1993  11111001001
1994  11111001010
1995  11111001011
1996  11111001100
1997  11111001101
1998  11111001110
1999  11111001111

[2000 rows x 1 columns]